*{
    margin:0;
    padding:0;
}
h1{
    color:#fff;
    background-color: rgb(7, 73, 255);
    padding: 20px;
}
h2{
    font-size: 35px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
    overflow: hidden;
    background-color: #054686;
  }
  
li {
    margin-top: 5px;
    margin-bottom: 5px;
float: left;
border:1px solid #fff;
background-color: #2e6ead;
}

li a {
    display: block;
color: white;
text-align: center;
padding: 5px 16px;
text-decoration: none;
}

li a:hover {
background-color: #4da6ff;
color: black;
text-decoration: none;
}
.text{
	color: #054686;
	text-align: center;
	font-size: 20px;
	margin-top: 50px;
    padding: 30px;
}
.footer {
   position: fixed;
   padding: 7px;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgb(105, 105, 105);
   color: #42423d;
   text-align: center;
}
.sadrzaj{
    margin: 40px;
    display: block;
}
.siva{color: #42423d;}
span{color:#00274e;}
.dugme{
    padding: 5px;
    margin-top: 15px;
}
.greska{
    color: red;
    padding-left: 20px;
}
label,input{margin: 5px;}
table, th, td {
    border:1px solid black;
    margin:auto;
    margin-top:20px;
    padding: 3px;
}
.dugmici{
	margin-top:30px;
	text-align:center;
}
.neparni{background-color: cyan;} 
.zeleno{background-color: green;} 
.crveno{background-color: red;} 
th{ background-color: pink;}